<!DOCTYPE HTML>
<html>
    <head>
        <title>Recipe Cloud</title>
        <link rel="icon" href=''>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Quicksand" rel="stylesheet">
        <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no">
        <style type="text/css">
          .modal-open { position: fixed; width: 100%; }
        </style>
    </head>

    <body>
        
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/">Recipe Cloud <i class="fa fa-cloud" aria-hidden="true"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class='navbar-nav mr-auto'>
            <% if(!currentUser) { %>
            <% } else { %>
                <li class="nav-item">
                    <a href="/users/<%= currentUser._id %>" class='nav-link'>My Recipes</a>
                </li>
                <li class="nav-item">
                    <a href="/grocery-list" class='nav-link'>Grocery List</a>
                </li>
                <li class="nav-item">
                    <a data-toggle="modal" data-target="#addrecipe" style='cursor: pointer;' class='nav-link'>Submit a Recipe</a>
                </li>
                <li class="nav-item">
                    <a href='/recipes' class='nav-link'>Browse All Recipes</a>
                </li>
            <% } %>
        </ul>
        <ul class="navbar-nav navbar-right">
            <% if(!currentUser) { %>
                <li class="nav-item">
                    <a data-toggle="modal" data-target="#login" class='nav-link' style='cursor: pointer;'>Log In</a>
                </li>
                <li class="nav-item">
                    <a data-toggle="modal" data-target="#signup" class='nav-link' style='cursor: pointer;'>Sign Up</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                    <a href='#' class='nav-link'>Logged in as <%= currentUser.username %></a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class='nav-link'>Log Out</a>
                </li>
            <% } %>
        </ul>
  </div>
</nav>

<!-- Login Modal -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style='text-align: center;'>Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class='row'>
          <form class="small-form" action="/login" method="post">
            <div class='form-group'>
              <input type="email" required name="email" placeholder='Email' class='form-control'>
            </div>
            <div class='form-group'>
              <input type="password" required name="password" placeholder='Password' class='form-control'>
            </div>
            <button type="submit" class='btn btn-lg btn-success'>Login</button>
            <a href='/forgot'>Forgot Password</a>
          </form>
      </div>
      </div>
    </div>
  </div>
</div>

<!-- Sign Up Modal -->
<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="signup" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style='text-align: center;'>Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class='row'>
            <form method='POST' action='/users' class='small-form' id='signupform'>
                <div class='form-group'>
                    <input type='text' required name='username' placeholder='Username' class='form-control'></input>
                </div>
                <div class='form-group'>
                    <input type='email' required name='email' placeholder='Email' class='form-control'></input>
                </div>
                <div class='form-group'>
                    <input type='password' id='password' placeholder='Password' class='form-control' name='password' required></input>
                </div>
                <div class='form-group'>
                    <input type='password' id='confirm' placeholder='Confirm Password' class='form-control' required></input>
                </div>
                
                <div class='form-group'>
                    <button type='submit' class='btn btn-lg btn-success'>Sign Up!</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Recipe Modal -->
<% if(currentUser) { %>
<div class="modal fade" id="addrecipe" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style='text-align: center;'>Submit a Recipe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class='row'>
          <form method='POST' action='/recipes' id='ingredients-form'>

              <h3>Recipe Information</h3>
              <div class='form-group'>
                  <input type='text' required name='recipe[name]' placeholder='Recipe Name' class='form-control'></input>
              </div>
              <div class='form-group'>
                  <input type='text' name='recipe[url]' placeholder='Recipe Link' class='form-control'></input>
              </div>
              <div class='form-group'>
                  <input type='text' name='recipe[image]' placeholder='Image URL' class='form-control'></input>
              </div>
              <div class='form-group'>
                  <textarea name='recipe[notes]' class='form-control' placeholder='Notes'></textarea>
              </div>
              <div class='form-group'>
                <h3 style='display: inline;'>Add Ingredient</h3>
                <a class='add-ingredient-button' onclick='addIngredient(this);'>+ ingredient</a>
                <div class='add-ingredient-form'>
                  <input type='number' step="0.01" required name='recipe.ingredients[].quantity' placeholder='1' class='form-control form-control-sm ing-option' style='width: 10%; display: inline-block;'></input>
                  <select class='form-control form-control-sm ing-option' style='width: 15%; display: inline-block;' name='recipe.ingredients[].measurement'>
                    <option>#</option>
                    <option>tsp</option>
                    <option>tbsp</option>
                    <option>cup</option>
                    <option>lb</option>
                    <option>fl oz</option>
                  </select>
                  <input type='text' required name='recipe.ingredients[].name' placeholder='Carrots' class='form-control form-control-sm ing-option' style='width: 60%; display: inline-block;'></input>
                  <a class='btn btn-md btn-danger delete-ingredient-button' onclick='deleteIngredient(this)' style='border: 0; padding: .25rem .5rem;'><i class="fa fa-minus" aria-hidden="true"></i></a>
                </div>
              </div>
              
              <h3>Add Tags</h3>
              
            <% tags.forEach(function(tag) { %>
              <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="recipe[tags]" value="<%= tag %>"> <%= tag %>
              </label>
            </div>
            <% }) %>
            
            
              <div class='form-group'>
                
                  <button type='submit' class='btn btn-lg btn-success'>Submit Recipe!</button>
              </div>
          </form>
      </div>
      </div>
    </div>
  </div>
</div>
<% } %>

<% if(error && error.length > 0) { %> <!-- need .length because error exists but is undefined if no error -->
  <div class="container container-alert">
    <div class="alert alert-danger" role='alert'>
      <%= error %>
    </div>
  </div>
<% } %>

<% if(success && success.length > 0) { %>
  <div class="container container-alert">
    <div class="alert alert-success" role='alert'>
      <%= success %>
    </div>
  </div>
<% } %>