<!DOCTYPE HTML>
<html>
    <head>
        <title>Grocery</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Quicksand" rel="stylesheet">
        <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    </head>

    <body>
        
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="/">Grocery</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class='navbar-nav mr-auto'>
            <% if(!currentUser) { %>
            <% } else { %>
                <li class="nav-item">
                    <a href="/users/<%= currentUser._id %>" class='nav-link'>Recipe Book</a>
                </li>
                <li class="nav-item">
                    <a href="#" style='cursor: not-allowed;' class='nav-link disabled' data-container="body" data-toggle="popover" data-placement="bottom" data-content="Coming soon!">Grocery List</a>
                </li>
                <li class="nav-item">
                    <a data-toggle="modal" data-target="#addrecipe" style='cursor: pointer;' class='nav-link'>Add a Recipe</a>
                </li>
                <li class="nav-item">
                    <a href='/recipes' class='nav-link'>Browse Recipes</a>
                </li>
            <% } %>
        </ul>
        <ul class="navbar-nav navbar-right">
            <% if(!currentUser) { %>
                <li class="nav-item">
                    <a data-toggle="modal" data-target="#login" class='nav-link' style='cursor: pointer;'>Log In</a>
                </li>
                <li class="nav-item">
                    <a data-toggle="modal" data-target="#signup" class='nav-link' style='cursor: pointer;'>Sign Up</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                    <a href='#' class='nav-link active' style='color: #5F5643 !important;'>Logged in as <%= currentUser.username %></a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class='nav-link'>Log Out</a>
                </li>
            <% } %>
        </ul>
  </div>
</nav>

<!-- Login Modal -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style='text-align: center;'>Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class='row'>
          <form class="" action="/login" method="post">
            <div class='form-group'>
              <input type="text" name="username" placeholder='username' class='form-control'>
            </div>
            <div class='form-group'>
              <input type="password" name="password" placeholder='password' class='form-control'>
            </div>
            <button type="submit" class='btn btn-lg btn-success'>Login</button>
          </form>
      </div>
      </div>
    </div>
  </div>
</div>

<!-- Sign Up Modal -->
<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="signup" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style='text-align: center;'>Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class='row'>
            <form method='POST' action='/users'>
                <div class='form-group'>
                    <input type='text' name='username' placeholder='Username' class='form-control'></input>
                </div>
                <div class='form-group'>
                    <input type='password' name='password' placeholder='Password' class='form-control'></input>
                </div>
                
                <div class='form-group'>
                    <button type='submit' class='btn btn-lg btn-success'>Sign Up!</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Recipe Modal -->
<% if(currentUser) { %>
<div class="modal fade" id="addrecipe" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style='text-align: center;'>Submit a New Recipe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class='row'>
          <form method='POST' action='/users/<%= currentUser._id %>/recipes'>
              <div class='form-group'>
                  <input type='text' name='recipe[name]' placeholder='Recipe Name' class='form-control'></input>
              </div>
              <div class='form-group'>
                  <input type='text' name='recipe[url]' placeholder='Recipe Link' class='form-control'></input>
              </div>
              <div class='form-group'>
                  <input type='text' name='recipe[image]' placeholder='Image URL' class='form-control'></input>
              </div>
              <div class='form-group'>
                  <textarea name='recipe[notes]' class='form-control' placeholder='Notes'></textarea>
              </div>
              <div class='form-group'>
                  <button type='submit' class='btn btn-lg btn-success'>Submit Recipe!</button>
              </div>
          </form>
      </div>
      </div>
    </div>
  </div>
</div>
<% } %>

<% if(error && error.length > 0) { %> <!-- need .length because error exists but is undefined if no error -->
  <div class="container container-alert">
    <div class="alert alert-danger" role='alert'>
      <%= error %>
    </div>
  </div>
<% } %>

<% if(success && success.length > 0) { %>
  <div class="container container-alert">
    <div class="alert alert-success" role='alert'>
      <%= success %>
    </div>
  </div>
<% } %>