<% include ../partials/header %>

<div class='container text-center'>
    <h1>Browse All Recipes</h1><br>
    
    <% if(recipes.length === 0) { %>
        <h3>There doesn't seem to be anything here...</h3>
    <% } %>
        
            <button class='btn btn-success btn-md' onclick='sortByTag("all")'>All</button>
        <% tags.forEach(function(tag) { %>
            <button class='btn btn-success btn-md' onclick='sortByTag("<%= tag %>")'><%= tag %></button>
        <% }) %>
    
        <div class='card-columns' style='padding-right: 20px;'>

            <% recipes.forEach(function(recipe) { %>
                    <div class="card" >
                        <input type='hidden' name='tags' value='<%= recipe.tags %>'>
                        <a class='recipe-card' href='/recipes/<%= recipe._id %>'>
                        <img class="card-img-top" src="<%= recipe.image %>" alt="Recipe Image">
                        <div class="card-body">
                          <h4 class="card-title"><%= recipe.name %></h4>
                          <p class="card-text"><%= recipe.notes.substring(0,100)%><% if(recipe.notes.length >= 100){%>...<% } %></p>
                          <p class="card-text"><small class="text-muted"><a href='/users/<%= recipe.author.id %>'>Submitted by <%= recipe.author.username %></a></small></p>
                        </div>
                        </a>
                        <div class='card-buttons'>
                            <% if(currentUser._id.equals(recipe.author.id)) { %>
                                <button type='button' class='btn btn-success add-recipe disabled'>
                                    <i class="fa fa-book" aria-hidden="true" ></i>
                                </button>
                              <% } else { %>
                                  <button type='button' class='btn btn-success add-recipe' 
                                    onclick='addRecipe(<%= JSON.stringify(recipe._id) %>, this)'>
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    </button>
                              <% } %>
                        </div>      
                    </div>
            <% }); %>


    </div>
    
</div>





<% include ../partials/footer %>